/********Menu icon made up of 3 horizontal bars*******/
#menu-icon {
  position: relative;
  left: 0;
  width: 7vmin;
  height: 7vmin;
  z-index: 2;
  transition: all 1s;
}
#menu-icon::before {
  position: absolute;
  content: "";
  top: 1vmin;
  width: 100%;
  height: 10%;
  background: grey;
  transition: all 1s;
}
#menu-icon::after {
  content: "";
  position: absolute;
  top: 3vmin;
  width: 100%;
  height: 10%;
  background: grey;
  transition: all 1s;
}

span {
  content: "";
  position: absolute;
  top: 5vmin;
  width: 100%;
  height: 10%;
  background: grey;
  transition: all 1s;
}

#menu-icon:hover {
  cursor: pointer;
}
#menu-icon:hover::before, #menu-icon:hover::after, #menu-icon:hover > span {
  background: black;
}

/******Bar icon transformed to "X" icon*******/
#menu-icon.open {
  left: 30vmin;
  transition: all 0.4s linear;
  transition-delay: 0.1s;
}
#menu-icon.open > span {
  transition: 0.5s linear;
  opacity: 0;
}
#menu-icon.open::before {
  transform: rotate(-45deg);
  top: 3vmin;
  background: white;
}
#menu-icon.open::after {
  transform: rotate(45deg);
  background: white;
}

#menu-icon.open:hover:before, #menu-icon.open:hover:after {
  background: LightGray;
}

/********side menu content*****/
#menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vmin;
  height: 100%;
  top: 0;
  left: -40vmin;
  z-index: 1;
  position: absolute;
  background: gray;
  transition: all 0.5s linear;
}
#menu-content ul {
  margin: -75% 0 0 -25%;
  list-style: none;
  color: white;
}
#menu-content ul li {
  margin-top: 25%;
  font-size: 8vmin;
}
#menu-content ul li:hover {
  color: LightGray;
  cursor: pointer;
}

#menu-content.open {
  left: 0;
}


/*Text Animation*/

.text {
    position: absolute;
    letter-spacing: 3px;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#color {
    position: absolute;
    color: red;
    animation-name: color;
    animation-duration: 5s;
}
    
    
    


@keyframes color {
	from { 
		color: black; 
		left: 300px;
		top: 0px;
		font-size: 16px;
	}
	to { 
		color: red; 
		left: 300px;
		top: 100px;
		font-size: 45px;
	}
}
